@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

:root {
    --cor-primaria: #FFE6D6;
    --cor-secundaria: #C77B60;
    --cor-terciaria: #B74242;
    --cor-quaternaria: #C77B60;
    --cor-hoover-nav: #9A5137; 
}

* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 2% 0% 2% 8%;
    background-color: var(--cor-primaria);
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: var(--cor-secundaria);
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: var(--cor-hoover-nav);
    text-decoration: underline;
}

.body {
    /* height: 100vh; */
    background-color: var(--cor-primaria);
    display: flex;
    color: var(--cor-secundaria);
    padding: 5% 8% ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body__apresentacao {
    font-family: "Montserrat", sans-serif;
    font-size: 8px;
}

.body__apresentacao p {
    font-family: 'Alex Brush', cursive;
    font-size: 40px;
    font-weight: 400;
    margin-top: 12px;
}

img {
    width: 250px;
    height: 250px;
}

.rodape {
    padding: 10px;
    color: var(--cor-primaria);
    background-color: var(--cor-quaternaria);
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
}


/* cartinhas cards*/

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribui os elementos uniformemente na linha */
}

.card {
    width: calc(50% - 20px); /* 50% do tamanho do contêiner pai (menos a margem) */
    background-color: #f0f0f0;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 20px; /* Espaçamento entre os cartões */
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; /* Adicionado */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    overflow: hidden; /* Para esconder o texto overflow */
}

.card:hover {
    transform: scale(1.05);
}

.hidden {
    display: none;
}

.visible {
    display: block;
}


/* photos carousel */

.carousel {
    overflow: hidden;
    white-space: nowrap; /* Evita que as imagens quebrem para a próxima linha */
}

.carousel img {
    display: inline-block;
    max-width: 100%;
    vertical-align: top;
}

/* Animação do carousel */
@keyframes carouselAnimation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.carousel img {
    animation: carouselAnimation 15s infinite linear; /* Velocidade e direção do carousel */
}
